apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: python-app-servicemonitor
  namespace: monitoring
  labels:
    release: prometheus-monitoring                                                                 # Must match the release name of your helm for prometheus.  
spec:
  selector:
    matchLabels:
      app: python-app
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
